/* Main setup */

html {
    background-color: gray;
    font-size: 13px;
    font-family: "Open Sans", sans-serif;
}

body {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

/* Header styling */

header {
    background-color: #004aad;
    border: 2px solid black;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img, #spacer {
    height:120px;
    width:120px;
    padding:10px;
}

h1 {
    text-align:center;
    font-size: 60px;
    color: white;
}

/* Article styling */
article {
    background-color: white;
    border: 2px solid black;
    padding: 10px;
}

h2 {
    text-align: center;
    font-size: 32px;
    color: black;
}

h3 {
    color: black;
    font-size: 26px;
}

/* Mission control */
article.mission-control {
    background-color: lightslategray;
}

div.data-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px 0px;
    max-width: 100%;
}

div.data-box {
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
    width: 20%;
    min-width: 200px;
    min-height: 250px;
}

#pos-box {
    background-color: steelblue;
}

#gas-box {
    background-color: lightgreen;
}

#temp-box {
    background-color: lightblue;
}

#hum-box {
    background-color: lightgray;
}

.data {
    font-size: 30px;
}

/* Design */
article.design {
    background-color: #ffde59;
}

