/* Main setup */

html {
    background-color: gray;
    font-size: 13px;
    font-family: "Open Sans", sans-serif;
}

body {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

/* Header styling */

header {
    background-color: #004aad;
    border: 2px solid black;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img, #spacer {
    height: auto;
    width: min(20%, 120px);
    padding:10px;
}

h1 {
    text-align:center;
    font-size: 60px;
    color: white;
}

/* Article styling */
article {
    background-color: white;
    border: 2px solid black;
    padding: 10px;
}

h2 {
    text-align: center;
    font-size: 32px;
    color: black;
}

h3 {
    color: black;
    font-size: 26px;
}

/* Mission control */
article.mission-control {
    background-color: lightslategray;
}

div.data-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px 0px;
    max-width: 100%;
}

div.data-box {
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
    width: 20%;
    min-width: 200px;
    min-height: 250px;
}

#dist-box {
    background-color: steelblue;
}

#gas-box {
    background-color: lightgreen;
}

#temp-box {
    background-color: lightblue;
}

#hum-box {
    background-color: lightgray;
}

.data {
    font-size: 30px;
}

/* Design */
article.design {
    background-color: #ffde59;
}


/* Gallery */
article.gallery {
    background-color: #417edc;
}

article.gallery h2 {
    color: white;
}

article.gallery h3 {
    color:white;
    margin-bottom: 2px;
    text-align: center;
}

/* Slideshow */
.slideshow-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.slideshow-box {
    max-width: min(550px, 100%)
}

.slideshow {
    max-width: min(550px, 100%);
    max-height: auto;
    position: relative;
    margin: auto;
    background-color: grey;
    border: 2px solid black;
}

.slides0, .slides1 {
    display: none;
}

.vertical-img {
    aspect-ratio: 3 / 4;
}
.horizontal-img {
    aspect-ratio: 16 / 9;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
    border-radius: 0 3px 3px 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(20,37,61,0.8);
}

.caption {
    color: white;
    font-size: 15px;
    padding: 8px 12px;
    background-color: rgba(20,37,61,0.8);
    text-align: center;

    /*center and bottom*/
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
}

.numbering {
    color: white;
    font-size: 12px;
    padding: 4px 6px;
    border-radius: 35%;
    background-color: rgba(20,37,61,0.8);

    position: absolute;
    top: 2px;
    right: 2px;
}

.dot-row {
    text-align: center;
}

.dots0, .dots1 {
    cursor: pointer;
    width: 15px;
    height: 15px;
    margin: 2px 2px;
    background-color: #2b528d;
    border-radius: 50%;
    display: inline-block;
}

.active, .dot:hover {
    background-color: #1d3963;
}
